Repository 4paradigm/HybridSE, pull requests merged in 2021-08, with the labels that each got.

#187 feat: implement codegen for query statement with planceholder
  cases/resource/codegen_parameter_one_row_one_col.yaml
  src/codec/fe_row_codec.cc
  src/codegen/codegen_base_test.h
  src/codegen/context.cc
  src/codegen/context.h
  src/codegen/expr_ir_builder.cc
  src/codegen/expr_ir_builder.h
  src/codegen/fn_let_ir_builder.cc
  src/codegen/fn_let_ir_builder_test.cc
  src/codegen/fn_let_ir_builder_test.h
  src/codegen/variable_ir_builder.cc
  src/codegen/variable_ir_builder.h
  src/vm/core_api.cc
  src/vm/runner.cc
Labels: codegen, sql

#190 feat: support `nvl*` functions
  CHANGELOG.md
  cases/integration/v1/expression/test_condition.yaml
  include/codec/row_iterator.h
  src/codegen/udf_ir_builder_test.cc
  src/udf/default_defs/agg_by_category_def.cc
  src/udf/default_defs/avg_by_category_def.cc
  src/udf/default_defs/count_by_category_def.cc
  src/udf/default_defs/feature_zero_def.cc
  src/udf/default_defs/max_by_category_def.cc
  src/udf/default_defs/min_by_category_def.cc
  src/udf/default_defs/sum_by_category_def.cc
  src/udf/default_defs/window_functions_def.cc
  src/udf/default_udf_library.cc
  src/udf/literal_traits.h
  src/udf/udf_library.h
  src/udf/udf_registry.h
Labels: sql, sql:function

#195 fix: hotfix identifier string
  CMakeLists.txt
  cases/plan/back quote_identifier.yaml
  include/node/node_manager.h
  include/node/sql_node.h
  include/vm/physical_op.h
  src/node/node_manager.cc
  src/node/sql_node.cc
  src/planv2/ast_node_converter.cc
  src/planv2/ast_node_converter_test.cc
Labels: bug
